<% tree_level += 1 %>
<% categories.each do |category| %>
  <li <%= nav_button_class(tree_level) %> id=<%= "#nav_#{tree_level}"%>>
    <%= link_to "#{tree_pos(tree_level)}#{category.title}", nav_path(category), onclick: set_visibility(category, tree_level) %></li>
  <%= render "nav", categories: category.children,tree_level: tree_level   %>
<% end %>
