<aside class='filler left'>
  f
</aside>
<section class='body'>
  <section class='header bar'>
  </section>
  <section class='content'>
    <aside>
      <nav class='nav bar'>
        <ul>
          <%= render 'nav', categories: Category.roots, tree_level: 0 %>
        </ul>
      </nav>
    </aside>
    <section class='center page'>
      <h1><%= @category ? @category.title : "All Items" %></h1>
      <%= render 'shelf',categories: (@category || Category.roots),currency: @currency  %>
    </section>
    <aside class='info bar'>
    </aside>
  </section>
  <section class='footer bar'>
  </section>
</section>
<aside class='filler right'>
  f
</adide>